name: Release Pipeline

on:
    push:
        branches:
          - main
          - master
          - next
          - next-major
          - beta
          - alpha
          - "[0-9]+.x"
          - "[0-9]+.[0-9]+.x"

permissions:
  id-token: write
  contents: write       # allow semantic-release to push changed files and to create GitHub releases
  #issues: write         # allow semantic-release to comment on issues
  #pull-requests: write  # allow semantic-release to comment on PRs

jobs:
  publish:
    name: Publish Package
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Sourcecode
        uses: actions/checkout@v5
        with:
          fetch-depth: 0  # semantic-release needs the full history

      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org/" # OIDC is tied to npmjs, and it's good to be explicit here.

      - name: Upgrade npm for Trusted Publishing (OIDC)
        run: npm i -g npm@^11.5.1 && npm --version
        # Trusted publishing requires npm CLI 11.5.1+ (https://docs.npmjs.com/trusted-publishers)

      - name: Install dependencies
        run: npm ci --no-audit --no-fund

      - name: Build action bundle
        run: npm run build

      - name: Release Package
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npx -y \
          -p semantic-release@25 \
          -p @semantic-release/changelog \
          -p @semantic-release/git \
          semantic-release
